<!doctype html>
<html lang="en">
  
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Abdi Mohamud</title>
    <h1>About Me</h1>
    <div style="color:black;padding:20px;width: 500px;">
        <p>Hello, My name is Abdi Mohamud and I am a senior at San Francisco State University studying Computer Engineering. I am a Somali American who was born in Nairobi, Kenya. I am individual who shows passion and ambition about technology. Currently with my skills I take more of a Backend role in order to efficiently utilize my skills. I love to play video games mainly pc, and I also like to go exploring.</p>
        <h2>Programming Skills: Java, Python, C++</h2>
    </div>
    
</html>

