<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>John</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    </head>

    <body bgcolor="#ff99ff">
    <!--================NAVBAR =================-->
        <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="subzero_home.html">Subzero</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu_nav ml-auto">
                        <li class="nav-item active"><a class="nav-link" href="about.html">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="support.html">Support</a></li>
                        <li class="nav-item submenu dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Team</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a class="nav-link" href="john.html">John</a></li>
                                <li class="nav-item"><a class="nav-link" href="ibrahim.html">Ibrahim</a></li>
                                <li class="nav-item"><a class="nav-link" href="carolyn.html">Carolyn</a></li>
                                <li class="nav-item"><a class="nav-link" href="abdi.html">Abdi</a></li>
                                <li class="nav-item"><a class="nav-link" href="anne.html">Anne</a></li>
                                <li class="nav-item"><a class="nav-link" href="tianrong.html">Surabhi</a></li>
                                <li class="nav-item"><a class="nav-link" href="surabhi.html">Tianrong</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
        </nav>


    <!--================Banner=================-->
        <section class="banner">
            <div class="container box_1620">
                <div class="banner_inner d-flex align-items-center">
                    <div class="banner_content">
                        <div class="media">
                            <div class="d-flex">
                                <img src="img/personal.jpg" alt="">
                            </div>
                            <div class="media-body">
                                <div class="aboutme_text">
                                    <h6>My name is</h6>
                                    <h3>John Sabour</h3>
                                    <h4>SFSU Computer Science - Student</h4>
                                    <p>I am on the backend development team for team102!</p>
                                    <h4>Programming Skills:</h4>
                                    <h5>Java, C++, Python, Javascript, HTML, CSS</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
    <footer>
      <p>Created for CSC648 - By John Sabour</p>
    </footer>
</html>