<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="webstyle.css">
</head>
<body>

<div id="main-page">

    <div class="container">
        <div id="main-row" class="row justify-content-center align-items-center">
            <div id="main-column" class="col-md-6">
                <div id="main-box" class="col-md-12">
                    <form id="main-form" class="form" action="" method="post">
                        <h3 class="text-center text-info"   >EzySort</h3>
                        <img id="logo" class="w3-round" alt="EzySort" src="images/logo.jpg">
                        <button class="btn btn-lg btn-primary btn-block" type="submit">
                            LOGIN
                        </button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>