body {
    margin: 0;
    padding: 0;
    background-color: #EFF3F4;
    height: 100px;
}

#main-page{
    margin: auto;
    max-width: 500px;
    height: 350px;
}

.btn
{
    margin-left: auto;
    margin-right: auto;
    box-shadow:inset 2px -3px rgba(0,0,0,0.15);
    height:40px;
    width: 40%;
}

.btn:focus
{

    outline:0;
    -webkit-outline:0;
    -moz-outline:0;
}

#logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:40%;
    margin-top: 100px;
    margin-bottom: 60px;

}
