<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EzySort</title>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>

<div id="main-page">
    <div class ="w3-container" style="align-content: center">
        <form id="main-form" class="form" action="" method="post">
            <img id="logo" class="w3-round" alt="EzySort" src="images/logo.jpg">
        </form>
    <button class="btn btn-lg btn-primary btn-block" type="submit">
        LOGIN
    </button>
    </div>

</div>
</body>

</html>
