body {
  margin: 0;
  padding: 0;
  background-color: #EFF3F4;
  height: 100vh;
}

#main-page .container #main-row #main-column #main-box {
  margin-top: 120px;
  max-width: 500px;
  height: 600px;
  border: 2px solid #9C9C9C;
  background-color: #EFF3F4;
}

  .btn
  {
   outline:0;
   border:none;
   border-top:none;
   border-bottom:20px;
   border-left:none;
   border-right:none;
    margin-left: 120px;
   box-shadow:inset 2px -3px rgba(0,0,0,0.15);
    height:40px;
    width: 50%;
  }
  .btn:focus
  {

   outline:0;
   -webkit-outline:0;
   -moz-outline:0;
  }

#logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height:280px;
  margin-top: 50px;
  margin-bottom: 80px;

}