<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
        .navbar-nav > li{
            padding-left:30px;
            padding-right:30px;
        }

        .text-center {
            text-align: center;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Member1 <span class="sr-only">(current)</span></a>
      </li>
        <li class="nav-item active">
        <a class="nav-link" href="#">Member2 <span class="sr-only">(current)</span></a>
      </li>
        <li class="nav-item active">
        <a class="nav-link" href="#">Member3 <span class="sr-only">(current)</span></a>
      </li>
        <li class="nav-item active">
        <a class="nav-link" href="#">Member4 <span class="sr-only">(current)</span></a>
      </li>
        <li class="nav-item active">
        <a class="nav-link" href="#">Member6 <span class="sr-only">(current)</span></a>
      </li>
        <li class="nav-item active">
        <a class="nav-link" href="#">Member7 <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>

<h1 class="text-center">Tianrong Zhen</h1>

<div>
    <p><b>Introduction:</b></p>
    <p>Hello everyone. My name is Tianrong Zhen.
        This is my first semester at San Francisco State University as a graduate student.
        My major is computer science.
    </p>

    <p><b>Education:</b></p>
    <p>University of California, Santa Cruz: Bachelor's Degree</p>
    <p>San Francisco State University: Master's Degree</p>

    <p><b>Work Experience:</b></p>
    <p>Coding Associate: work with a software engineer to build functionality for a website, such as
    searching functionality, sorting functionality, find and highlight the search key words.</p>

    <p><b>Languages and Tools</b></p>
    <ul>
        <li>Java</li>
        <li>C</li>
        <li>C++</li>
        <li>Python</li>
    </ul>
</div>

</body>
</html>